<form action="/" method="POST">
  <div class="container text-center">
    <input class="col" type="url" name="url" required />
    <button class="col shorten_btn" type="submit">Shorten</button>
  </div>
</form>